@import url(//db.onlinewebfonts.com/c/c77f2225063fd0a5185855499a1ed67e?family=Rockwell+Condensed);

* {
    font-family: 'Rockwell Condensed', bold;
}

nav#navegacion ul {
    list-style-type: none;
    margin: 0;
    padding: 10;
}

nav#navegacion li {
    display: inline-flex;
    width: 19%;
}

nav#navegacion ul li#globotk a {
    color: #F4ADAD;
}

nav#navegacion a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

nav {
    background-color: #953FA3;
    overflow: hidden;
}
